{% extends 'Contacts/base.html' %}


{% block body %}
    {% if all_contacts %}
        <h3>Here's all da homies</h3>

        {% for contact in all_contacts %}
        <div class="col-sm-4 col-lg-2">
            <div class="thumbnail">

        {# Contact Pic #}
         <a href="{% url 'Contacts:detail' contact.id %}">
         <img src="{{ contact.headshot.url }}" class="img-responsive">
         </a>
        <div class="caption">
            <h2>{{contact.first_name }}</h2>
            <h4>{{contact.phone_number  }}</h4>

        {# Details #}
         <a href="{% url 'Contacts:detail' contact.id %}" class="btn btn-primary btn-sm">View Details </a>
        {# Delete #}
         <form action="{% url 'Contacts:contact-delete' contact.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="contact_id" value="{{ contact.id }}"/>
            <button type="submit" class="btn btn-default btn-sm">
                <span class="far fa-trash-alt"></span>
            </button>
         </form>
       </div>
    </div>
   </div>
        {% endfor %}
    {% else %}
        <h3>You don't have any homies yet</h3>
    {% endif %}
{% endblock %}