{% extends 'Contacts/base.html' %}


{% block body %}
    {% if all_contacts %}
        <h3>Here's all da homies</h3>
        <ul>
        {% for contact in all_contacts %}
        <li><a href="{% url 'Contacts:detail' contact.id %}">{{ contact.first_name }}</a></li>
        {# Details #}
         <a href="{% url 'Contacts:detail' contact.id %}" class="btn btn-primary btn-sm">View Details </a>
        {# Delete #}
         <form action="{% url 'Contacts:contact-delete' contact.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="contact_id" value="{{ contact.id }}"/>
            <button type="submit" class="btn btn-default btn-sm">
                <span class="far fa-trash-alt"></span>
            </button>
         </form>
        {% endfor %}
        </ul>
    {% else %}
        <h3>You don't have any homies yet</h3>
    {% endif %}
{% endblock %}